.visible {
    display: block;
 }
 
 .hidden {
    display: none;
 }
 
 .page {
    opacity: 100%;
 }

 .buttonHome {
   opacity: 100%;
 }

 .buttonAmministrazione {
   opacity: 100%;
 }

 .buttonModifica {
   opacity: 100%;
 }
